include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include run_gui.py
recursive-include src *.py
recursive-include docs *.md
recursive-include examples *.py *.md
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *~
global-exclude .DS_Store
global-exclude .git
global-exclude .github